:host {
  background: var(--color-navigationCardBackground);
  color: var(--color-navigationCardFont);
  display: flex;
  padding: 1rem;
}

p {
  flex: 1 1 auto;
  font-size: var(--fontSize-subHeading);
  font-family: var(--font-heading);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
