<div *ngIf="!fieldMeta.options">
  <div *ngIf="fieldMeta.isString()">
    <p-input-text [ngClass]="{ 'is-invalid': isInvalid }" *ngIf="fieldMeta.maxLength <= 1000" [label]="fieldMeta.description" [value]="data" [isRequired]="fieldMeta.required" (onInput)="onInputChange($event)"></p-input-text>
    <p-input-content [ngClass]="{ 'is-invalid': isInvalid }" *ngIf="fieldMeta.maxLength > 1000" [label]="fieldMeta.description" [value]="data" [isRequired]="fieldMeta.required" (onInput)="onInputChange($event)"></p-input-content>
  </div>

  <p-input-number [ngClass]="{ 'is-invalid': isInvalid }" *ngIf="fieldMeta.isNumber()" [label]="fieldMeta.description" [value]="data" [isRequired]="fieldMeta.required" (onInput)="onInputChange($event)"></p-input-number>
</div>

<p-input-option [ngClass]="{ 'is-invalid': isInvalid }" *ngIf="fieldMeta.options" [label]="fieldMeta.description" [options]="fieldMeta.options" [value]="data" [isRequired]="fieldMeta.required" (onInput)="onInputChange($event)"></p-input-option>
<p-field-messages [validation]="validation"></p-field-messages>
