<label>{{_fieldMeta.description}}</label>
<div *ngIf="!_fieldMeta.options">
  <div *ngIf="_fieldMeta.isString()">
    <input #input *ngIf="_fieldMeta.maxLength <= 1000" type="text" (input)="onInputChange(input.value)" [value]="data">
    <textarea #input *ngIf="_fieldMeta.maxLength > 1000" (input)="onInputChange(input.value)" [value]="data"></textarea>
  </div>
  <input #input *ngIf="_fieldMeta.isNumber()" type="number" (input)="onInputChange(input.valueAsNumber)" [value]="data">
</div>

<select #input (change)="onInputChange(input.value)" *ngIf="_fieldMeta.options">
  <option></option>
  <option *ngFor="let option of _fieldMeta.options" [value]="option.value" [selected]="data === option.value ? true : null">{{option.label}}</option>
</select>
