@import '../../../styles/_input';

:host {
  &.is-invalid {
    --color-dividers: var(--color-negative);
    --color-focus: var(--color-negative);
    --color-font: var(--color-negative);
  }
}

input {
  @include inputSize;
  @include inputBorder;

  &:focus {
    outline: none;
  }
}
