@mixin inputSize {
  box-sizing: border-box;
  font-size: var(--fontSize-important);
  max-width: 300px;
  padding: 5px 0;
  width: 100%;
}

@mixin inputBorder {
  border: 1px solid var(--color-dividers);
  border-width: 0 0 1px;

  &:focus {
    border-color: var(--color-focus);
  }
}
