:host {
  &.negative {
    button:hover {
      border-bottom-color: var(--color-negative);
    }
  }
}

button {
  border-bottom: 1px dotted var(--color-dividers);
  color: var(--color-accent);
  cursor: pointer;
  float: right;
  font-size: var(--fontSize-important);
  margin: 5px;
  padding: 10px;

  &:hover,
  &:focus {
    border-bottom-color: var(--color-positive);
    color: var(--color-black);
    outline: none;
  }
}
