:root {
  --color-accent: #686868;
  --color-dividers: #c3c3c3;
  --color-focus: #0088ee;
  --color-font: #101010;
  --color-negative: #c00;
  --color-positive: #0a0;
  --font-heading: "Century gothic", "Helvetica";
  --font-body: "Arial";
  --fontSize-body: 1rem;
  --fontSize-important: 1.4rem;
  --fontSize-subHeading: 2.5rem;
  --fontSize-heading: 5rem;
}
