@import '_resets.css';
@import '_theme.css';

:root {
  font-family: var(--font-body);
  font-size: 67.5%;
}

body {
  background: var(--color-background);
  color: var(--color-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fontSize-body);
}

h1 {
  font-family: var(--font-heading);
}

app {
  width: 500px;
}
