article {
  background: var(--color-primaryCardBackground);
  color: var(--color-primaryCardFont);
  border: 1px solid  var(--color-dividers);
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  padding: 1em;
}

h1 {
  border-bottom: 1px solid var(--color-dividers);
  font-size: var(--fontSize-subHeading);
  flex: 1 0 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.noItems {
  color: var(--color-fontAccent);
  font-style: italic;
  flex: 1 0 100%;
  text-align: center;

  + .actions {
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    margin-top: 5px;
  }
}

ul {
  flex: 1 1 auto;
  list-style: none;
  max-width: 100%;
  padding: 0;
}

li {
  margin: 1em 0;
  max-width: 100%;
}

button {
  border-bottom: 1px dotted var(--color-dividers);
  color: var(--color-body);
  cursor: pointer;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus,
  &:hover {
    color: var(--color-focus);
    outline: none;
  }
}
